body{
    background-color: #000;
    font-family: var(--font-dm-sans);
}
h1{
    color: #fff;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0.75rem;
    width: 18.75rem;
}
.sidebar_navigation{
    background-color: #121212;
    border-radius: 0.5rem;
    padding: 1rem 0 0 1rem;
}
.logo{
    background: #121212;
    display: flex;
    border-radius: 0.5rem;
    padding: 1rem 0 0 1rem;
}
.sidebar_navigation .logo img{
    width: 5rem;
}
.sidebar nav ul{
    margin-top: 1.25rem;
    padding: 0 1.25rem 0.625rem 1.25rem;
}
.sidebar ul li{
    padding: 0.625rem 0;
}
.sidebar nav ul li a{
    color:#b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.875rem;
}
.library{
    background-color: #121212;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.25rem 0.5rem;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 0.875rem;
    margin-top: 0.625rem;
  }
  .library .library_content{
    display: flex;
    justify-content: space-between;
  }
  .library .library_button{
    display: flex;
    margin-right: 0.625rem;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 1.25rem 0.625rem;
  }
  .library .library_button .fa{
    font-size: 1.25rem;
    margin-right: 0.625rem;
   font-weight: 600;
    color #b3b3b3;
    padding-right: 0.5rem;
  }
  .library .library_content .fa-plus{
    margin: 1.5rem 0.625rem;
  }
  .section-playlist{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.25rem;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 0.875rem;
    margin: 0.5rem 0px;
    padding: 1rem 1.25rem;
    border-radius: 0.625rem;
  }
  .section-playlist .section-playlist_content{
    display: flex;
    flex-direction: column;
  }
  .section-playlist_content .text{
    padding-bottom: 0.875rem;
    color: #fff;
  }
  .section-playlist_content .title{
    font-weight: 700;
  }
  .section-playlist_content .subtitle{
    font-weight: 500;
    font-size: 0.75rem;
  }
  .section-playlist_content .section-playlist_button{
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 1.25rem;
    font-size: 0.75rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 0.625rem;
    margin-top: 0.75rem;
    border: 0px;
    width: 7.063rem;
  }
  .sidebar .cookies{
    margin: 1.563rem 1.25rem;
  }
  .sidebar .cookies a{
    color: #b3b3b3;
    font-weight: 500;
    font-size: 0.625rem;
    text-decoration: none;
  }
  .sidebar .cookies a:hover{
    text-decoration: underline;
  }
  .languages .languages_button{
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 10.625rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1.25rem;
  }

  footer{
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 0.625rem 0.75rem;
    margin: 0.75rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .footer_content p{
    color: #fff;
    font-size: 0.875rem;
    padding: 0.25rem 0;
  }
  .footer_title{
    font-weight: 700;
  }
  .footer_subtitle{
    font-weight: 600;
  }
  .footer_button{
    display: flex;
    align-items: center;
  }
  .footer_button button{
    display: flex;
    align-items: center;
    background-color: #fff;
    font-weight: 700;
    color: #000;
    border: 0px;
    border-radius: 1.563rem;
    padding: 0.5rem 2rem;
    height: 3.125rem;
    font-size: 0.875rem;
    text-decoration: none;
    text-transform: none;
    text-align: justify;
  }